---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

<!-- Services Section -->
    <section class="hero is-fullheight has-text-centered has-background-white-ter" id="services">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <div class="row is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                        <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">SERVICES</p>
                        <h2 class="section-heading">Services</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Data Analysis and Visualization</h4>
                        <p class="text-muted">Data and numbers have a language of their own and pictures speak a thousand words. We transform data into concise and visualizations.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-spider fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Web Scraping</h4>
                        <p class="text-muted">We scrape and provide data in a user-friendly format.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Database Design and Development</h4>
                        <p class="text-muted">We design Microsoft SQL Server, MySQL and Mongo DB databases.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Web Security</h4>
                        <p class="text-muted">We offer services such as penetration testing, incidence response and vulnerability scanning.</p>    
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Application Development</h4>
                        <p class="text-muted">We develop applications for Windows, Android and iOS.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>    